*.diff
*.orig
*.patch
*.rej

*.o
*.pyc
*.pyo

*.cwnd
*.dat
*.log
*.mob
*.pcap
*.plt
*.routes
*.tr
[D|U]l[A-Z][a-z]*Stats.txt

\#*#
*~

testpy-output

bindings/python/pybindgen/

venv/

ms_print.*
massif.*
coverity
TAGS

.lock-ns3_*
.ns3rc

build-dir/
build/
/.cproject
/.project

version.cache

.gitlab-ci-local/
.idea/
cmake-*/
vcpkg/

.vs/

# Ignore local cache
*.db
.venv/
.codex
src/grpc/logs
src/rl/checkpoints
src/rl/logs
src/rl/checkpoints_nn

ul_target_log.csv
buffer_debug.csv
src/oran/model/logs/
.github/workflows/
